# Hi, I'm Toby!

{{#contact}}
### Want to get in touch?

You can find me here:

{{#methods}}
<a href="{{url}}" target="_blank">
  <img src="https://img.shields.io/badge/{{label}}-%23{{colour}}.svg?style=for-the-badge&logo={{logo}}&logoColor={{logoColour}}&link={{url}}"/>
</a>
{{/methods}}
{{/contact}}

{{#projects}}
### Projects

I maintain a few npm packages, websites, and bits. You can find my favourites pinned below.

If you have any issues or feature requests, please let me know!
{{/projects}}

{{#blog}}
### Blog

While I post very infrequently, I do have a blog that you can find <a href="{{url}}" target="_blank">here</a>.
{{/blog}}

{{#socials}}
### Socials

I'm on few social networks, but feel free to follow me here on GitHub; I always star projects I find interesting.
{{/socials}}
